@model IEnumerable<DotNetCoreSqlDb.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h1>Safety Alerts</h1>

  <body>

  <hanko-auth />

  <script type="module">
    import { register } from 'https://esm.run/@teamhanko/hanko-elements';

    const { hanko } = await register("https://98fb8efc-7748-4f07-89b0-58eee689be1c.hanko.io");

    hanko.onAuthFlowCompleted(() => {
        // successfully logged in, redirect to a page in your application
        document.location.href = "..."
    })
  </script>

  </body>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
